# デプロイ用のプライベートキー（先頭の0xは不要）
PRIVATE_KEY=your_private_key_here

# ====================
# Blockchain ID（固定値）
# ====================
TOKEN_HOME_BLOCKCHAIN_ID=0x7fc93d85c6d62c5b2ac0b519c87010ea5294012d1e407030d6acd0021cac10d5
DISPATCH_BLOCKCHAIN_ID=0x9f3be606497285d0ffbb5ac9ba24aa60346a9b1812479ed66cb329f394a4b1c7

# ====================
# 以下は make deploy-fuji 実行後に追加
# ====================

# TOKEN_ADDRESS=
# TOKEN_HOME_ADDRESS=

# ====================
# 以下は make deploy-dispatch 実行後に追加
# ====================

# REMOTE_TOKEN_TRANSFERRER_ADDRESS=
